.DS_Store
*.pyc
*.xls
ghostdriver.log
static/.webassets-cache
devtrac2.sublime-project
devtrac2.sublime-workspace
static/gen/packed.css
static/gen/packed.js
tmp/*.png
node_modules/
twistd.log*
twistd.pid
screen*.png
.idea/

#virtual env python environments
devtrac2-env
