%h2 DevTrac2
%div{ id: "demoMap", style:"height:800px;width:800px" }

%script{ :type => "text/javascript", :src => "http://openlayers.org/api/OpenLayers.js"}
%script{ :type => "text/javascript", :src => "/javascript/application.js"}

