/* DASHBOARD */
body { 
  -webkit-font-smoothing: antialiased;
  
  font-size: 13px;
}

h3 {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 4px;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    color: #DDD;
}


#map-container {
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0px;
    z-index: 0;
    position: absolute;
}

#devtrac-map {
    width: 100%;
    height: 100%;   
}

.toggle {
  font-weight: normal;
  padding: 3px 8px;
  border: none;
  background-color: #666;
  margin-bottom: 8px;
  margin-right: 6px;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  color: white;
  /*font-weight: nor*/
}

.toggle.toggle-selected {
  background-color: lightblue;
  color: #555;
}

.toggle.toggle-selected:focus {
  background-color: lightblue;
  color: #555;
}

#right-hand-panel {
    position: relative;
    float: right;
    width: 100%;
    border-left: 1px solid #AAA;
    height:95%;
    padding-left: 350px;
}

/* NAV BAR */
.navbar-default {
  background-color: #000;
  border-color: #e7e7e7;  
  height: 50px;
  min-height: 50px;
  border: none;
  border-bottom: 1px solid #111;
}

.navbar-default .btn-default {
  height: 28px;
  font-size: 13px;
  line-height: 13px;
  padding: 2px 8px;
  margin-top: 8px;
}

.form-control { 
  font-size: 12px;
  padding: 2px 6px;
  line-height: 12px;
  height: 28px;
  margin-top: 8px;
  -webkit-font-smoothing: antialiased;
}

.navbar-default .navbar-brand {
  font-family: 'arial';
  font-size: 18px;
  font-weight: 500;
  color: #EEE;
  -webkit-font-smoothing: antialiased;
  padding: 16px 8px;
  letter-spacing: 0.5px;
  text-transform: capitalize;

}

.navbar-form {
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar-nav>li>a.dropdown-toggle {
  padding: 16px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  color: white;
  border-top-color: white;
  border-bottom-color: white;
}

/* BREADCRUMB */

#location {
  padding-top: 20px;

}

#location .breadcrumb-title {
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}


#location .breadcrumb-panel {
  font-size: 14px;
  border-radius: 0;
  padding: 5px 6px;
  margin-bottom: 10px;
}

#location .breadcrumb li a {
  font-size: 12px;
}

#location .breadcrumb li a.active{
  color: white;
  font-size: 16px;
  font-weight: 500;

}

.breadcrumb {
  border-radius: 0;
  margin-bottom: 0px;
  padding: 5px 6px;
  text-transform: capitalize;
  background-color: rgb(36, 36, 36);
}

#location h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

#location h3 {
  margin-bottom: 0;
}

/* FILTERS */

.panel-title {
  font-size: inherit;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-heading {
  padding: 4px 6px;
}

.panel-body {
  padding: 6px;
}

.panel {
  border-bottom: none;
}

.panel-title a {
  display: block;
}

.detail-panel {
  border-top: 1px solid #666 ;
  background-color: #DDD;
  width: 100%;
  min-height: 400px;
  float: left;
  color: black;
}

.detail-panel h3 {
  color: black;

}
.breadcrumb-section {
  padding-top: 40px;
  position: absolute;
  height: 80px;
  width: 350px;
}

.filters-section {
  height: 100%;
  overflow: auto;
}

.filters-container {
  height: 100%;
  padding-top: 120px;
}

#filter-panel {
  width: 350px;
  height: 95%;
  overflow: hidden;
  position: absolute;
  background-color: rgba(36, 36, 36, 1); 
  color: #DDD;
}

#filters-form {
  padding-bottom: 10px;
}

#filters-form label {
  font-weight: normal;
  font-size: 12px;
}

#filters-form ul {
  list-style-type: none;
  padding-left: 0px;
}

#filters-form .checkbox-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  margin-right: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.65);
}

#filters-form .health-center-checkbox-icon {
  background-color: rgba(153, 51, 102, 1);
}

#filters-form .water-point-checkbox-icon {
  background-color: rgba(116, 223, 252, 1);
}

#filters-form .school-checkbox-icon {
  background-color: rgba(211, 242, 53, 1); 
}

#filters-form .icon {
  background-color: white;
  padding: 0px 0px 3px 2px;
  margin-right: 4px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.65);
}

#filters-form .partner-toggle {
  margin-bottom: 4px;
}

.nav.nav-tabs {
  margin-left: 10px;
  border: none;
}

.nav.nav-tabs>li>a {
   padding: 6px 10px;
  background-color: rgb(64, 64, 64);
  color: #DDD;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  border-color: #666;
  font-size: 13px;
  border: none;
}

.nav.nav-tabs>li.active a:hover {
  border: none;
}

.nav.nav-tabs>li.active a {
  background-color: white;
  color: #555;
}

.nav.nav-tabs>li:first-child > a, .nav.nav-tabs>li:first-child > a:hover {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  /*sborder-bottom-right-radius: 4px;*/
}

.nav.nav-tabs>li:last-child > a, .nav.nav-tabs>li:last-child > a:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav.nav-tabs>li>a {
  border-radius: 0px;
  margin-right: 1px 
}

.btn-group {
  margin-left: 10px;
  /*-webkit-box-shadow: 0 0 10px rgb(0,0,0);*/
  /*box-shadow: 0 0 10px rgb(0,0,0);*/
}

.btn-group button {
  padding: 4px 8px;
  background-color: rgb(64, 64, 64);
  color: #DDD;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  border-color: #666;
  font-size: 14px;
  border: none;
}

#filters-form h3{
  background-color: rgb(0, 0, 0);
  padding: 10px 12px;
}

/* PARTNERS */

.chosen-select {
  color: black;
}

.chosen-container {
  color: black;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: auto;
}

#project-year .year-labels {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

#project-year .year-labels li{
  display: inline-block;
  text-align: center;
  width: 15%;
}

#project-year input[type=range] {
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}

/* SUMMARY */

#summary {
  padding-top: 10px;
  padding-left: 10px; 
}

#summary div.info { 
  float: left; 
  margin-right: 30px; 
}

#summary label { 
  font-weight: normal; 
  display: block; 
  margin-bottom: 0px; 
  font-size: 11px;
}

#summary span { 
  font-size: 16px; 
  font-weight: 500; 
  margin-bottom: 4px; 
  display: block; 
}

/* LEGEND */

.heatmap-legend {
  position: absolute;
  left: 10px;
  bottom: 10px;

} 

.map-container {
  background-color: #DDD;
}

/* UREPORT SUMMARY */

.ureport-summary .response span{
  font-size: 10px;
  font-weight: normal;
}

.ureport-question {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 4px;
  display: inline-block;
}

.ureport-section {
    margin: 10px 5px;
}

.ureport-top5  {
    list-style-type: none;
    padding-left: 0;
    margin-top:6px;
    width: 60%;
    float: left;
}

.ureport-top5 li {
    float: left;
    font-size: 12px;
    background-color: #EEE;
    display: block;
    padding: 2px;
    border-radius: 3px;
    font-style: italic;
    margin-right: 10px;
    margin-bottom: 6px;
    
}   

.ureport-results {
    float:left;
    overflow: hidden;;
    list-style-type: none;
    padding-left: 0;
}
.ureport-results label {
    text-transform: capitalize; 
    font-size: 12px;   
    font-weight: 500;
    margin-left: 6px;
}

.ureport-results .legend {
  list-style-type: none;
  padding-left: 0;
  float: left;
  margin-left: 12px;
  font-size: 12px;
}

.ureport-results .flot-piechart {
  float: left;
}

.ureport-results .legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  /*border: 1px solid #CCC;*/
}

.ureport-question-selected #devtrac-map {
    height: 75%;
}

#summary-panel {
    position: relative;
    top: 0px;
    left: 0px;
}

#summary-panel .content{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border: none;
    min-height: 0px;
}
.tab-pane.active{
  padding: 12px 0px;
}
.sectors-pane{
  padding: 10px 8px;
}
.container{
  max-width: 1220px;
}
