body { 
  padding-top: 50px;
}
/* Footer*/
footer { 
  border-top: 1px solid #CCC; 
  text-align: right;
  font-size: 11px;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
}

footer label {
  font-weight: bold;
  margin-bottom: 0;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.smallmap {
  width: 800px;
  height: 800px;
  border: 1px solid #ccc;
}

#map { 
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px; 
  height: 100%; 
  z-index: 0;
}

#devtrac-map {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px; 
  height: 100%; 
}

#location {
  position: absolute; 
  top: 10px;
  left: 46px;
  z-index: 1;
}

#location .breadcrumb{
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 0;
  border: 1px solid #CCCCCC;
  padding: 5px 11px;
}
#location .breadcrumb li:last-child span{
  color: black;
  font-size: 18px;
  font-weight: 500;
}

#location h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.leaflet-bar
{
  box-shadow: none;
}

.leaflet-control-zoom a:first-child {
  border-radius: 0;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 0;
  color: #444;
}

.leaflet-control-zoom a:last-child {
  border-radius: 0;
  border: 1px solid #CCCCCC;
  /*color: #444;*/
}

#districts {
  position: absolute; 
  height: 400px; 
  width: 400px;
  top: 80px;
  left: 10px;
  overflow: hidden;
  background: white;
  position: absolute;
  z-index: 1;
}

.marker-popup label {
  width: 74px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2px;
}
.marker-popup h4 {
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 4px;
  text-transform: capitalize;
}

.marker-popup .leaflet-popup-content-wrapper {
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.65);
}

.marker-popup .leaflet-popup-content{
  margin: 6px 10px;
}

.cluster-icon {
  overflow: hidden;
  padding: 6px 0 0 0;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #444;
  box-shadow: 0 2px 6px rgba(0,0,0,0.65);
  font-size: 13px;
  font-weight: 500;
  border-radius: 16px;
}

.marker-icon {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.65);
}

.water-point-cluster-icon {
  background-color: rgba(116, 223, 252, 0.6);
}

.water-point-icon {
  background-color: rgba(0, 0, 255, 0.6); 
}

.cluster-icon.small {
  width: 24px;
  height: 24px;
  padding: 3px 0 0 0;
  border-radius: 12px;
}

.cluster-icon.medium {
  width: 32px;
  height: 32px;
  padding: 6px 0 0 0;
  border-radius: 16px;  
}

.cluster-icon.large {
  width: 38px;
  height: 38px;
  padding: 9px 0 0 0;
  border-radius: 19px;   
}

.cluster-icon.extra-large {
  width: 46px;
  height: 46px;
  padding: 13px 0 0 0;
  border-radius: 23px;    
}

.health-center-cluster-icon
{
  background-color: rgba(153, 51, 102, 0.65);
}

.health-center-icon
{
  background-color: rgba(153, 51, 102, 0.5);
}

.school-cluster-icon
{
  background-color: rgba(211, 242, 53, 0.65);
}

.school-icon
{
  background-color: rgba(211, 242, 53, 0.9);
}


.filterPanel {
    /*background: white; */
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 80px;
    left: 10px;
    width: 14%;
    height: 60%;
}

.filterPanel .content {
    width: 100%;
    height: 100%;
    float: left;
    /*background-color: white;*/
    border: 1px solid #CCCCCC;
}

.filterPanel .content .container .sector {
  font-size:14px;
  padding-top: 5px;
  font-weight: 500;
  padding-bottom: 6px;
}

.filterPanel .content .container .sector-content{ 
  width: 100%;
  font-size: 12px;
}

.filterPanel .content .container .sector-content label{ 
  font-weight: normal;
  margin-bottom: 3px;
}

.filterPanel .content .container .sector-content input[type='checkbox']{ 
  margin-right: 10px;
}

.filterPanel .toggleSidebar {    
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 30px;
    width: 30px;
    right: -30px;
    top: 0px;
    padding-top: 4px;
    color: black;
}


