body { 
  padding-top: 50px;
}
/* Footer*/
footer { 
  border-top: 1px solid #CCC; 
  text-align: right;
  font-size: 11px;
  padding: 0px 10px;
  position: fixed;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  background-color: white;
}

footer label {
  font-weight: bold;
  margin-bottom: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.smallmap {
  width: 800px;
  height: 800px;
  border: 1px solid #ccc;
}

#map { 
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px; 
  height: 100%; 
  z-index: 0;
}

#devtrac-map {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px; 
  height: 100%; 
  z-index: 0;
}

#location {
  position: absolute; 
  top: 12px;
  left: 50px;
  z-index: 1;
}

#location .breadcrumb{
  background-color: white;
  font-size: 16px;
  text-transform: capitalize;
}

#location h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

#districts {
  position: absolute; 
  height: 400px; 
  width: 400px;
  top: 80px;
  left: 10px;
  overflow: hidden;
  background: white;
  position: absolute;
  z-index: 1;
}

.marker-popup label{
  width: 100px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2px;
}
.marker-popup h4 {
  font-size: 14px;
}

.marker-popup .leaflet-popup-content{
  margin: 10px 15px;
}

.cluster-icon
{
  background-color: rgba(116, 223, 252, 0.6);
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 6px 0 0 0;
  text-align: center;
}

.water-icon
{
  background-color: rgba(0, 0, 255, 0.6);
  width: 10px;
  height: 10px;
  border-radius: 2px;
}