@charset "utf-8";


@font-face {
  font-family: 'OpenSans';
  src: url(/static/css/fonts/OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Liza';
  src: url(/static/css/fonts/Liza.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Muli';
  src: url(/static/css/fonts/Muli-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Muli';
  src: url(/static/css/fonts/Muli-Regular.ttf);
  font-weight: normal;
}