.marker-popup label {
  width: 74px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2px;
}

.marker-popup h4 {
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 4px;
  text-transform: capitalize;
}

.marker-popup .leaflet-popup-content-wrapper {
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.65);
}

.marker-popup .leaflet-popup-content{
  margin: 6px 10px;
}

.marker-icon {
 width: 10px;
 height: 10px;
 border-radius: 2px;
 box-shadow: 0 2px 4px rgba(0,0,0,0.65);
}

.marker-icon > div {
 width: 10px;
 height: 10px;
 border-radius: 2px;
}

.cluster-icon {
  overflow: hidden;/
  width: 32px;
  height: 32px;
  text-align: center;
  color: #444;
  box-shadow: 0 2px 6px rgba(0,0,0,0.65);
  font-size: 12px;
  border-radius: 16px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.filter {
  margin-left: 12px;
}

.cluster-icon.medium.ureport-cluster-icon {
  background-color: rgba(116, 100, 252, 0.6);
  top: -30px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  left: 3px;
}

.ureport-cluster-icon .glyphicon {
  top: 0px;
  padding-top: 5px;
  padding-left: 1px;
}

.ureport-cluster-icon .category_0 { 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.8);
  
}

.ureport-cluster-icon .category_1 { 
  width: 100%;
  height: 100%;
  background-color: rgba(225, 125, 0, 0.8);
}

.ureport-cluster-icon .category_2 { 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.8);
}

.ureport-cluster-icon .category_3 { 
  width: 100%;
  height: 100%;
  background-color: rgba(125, 255, 0, 0.8);
}

.ureport-cluster-icon .category_4 { 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.8);
}

.water-point-cluster-icon {
  position: absolute;
  padding: 7px 0 0 0;
  background-color: rgba(116, 223, 252, 0.6);
  left: 33px;
}

.water-point-point-icon {
  background-color: rgba(0, 0, 255, 0.6); 
}

.site-visit-point-icon {
  background-color: rgba(0, 200, 100, 0.6); 
  z-index: 999999;
}

.cluster-icon.small {
  width: 24px;
  height: 24px;
  padding: 3px 0 0 0;
  border-radius: 12px;
}

.cluster-icon.medium {
  width: 32px;
  height: 32px;
  /*padding: 7px 0 0 0;*/
  border-radius: 16px;  
}

.cluster-icon.large {
  width: 38px;
  height: 38px;
  padding: 9px 0 0 0;
  border-radius: 19px;   
}

.cluster-icon.extra-large {
  width: 46px;
  height: 46px;
  padding: 13px 0 0 0;
  border-radius: 23px;    
}

.health-center-cluster-icon
{
  position: absolute;
  padding: 7px 0 0 0;
  background-color: rgba(153, 51, 102, 0.65);
}

.health-center-point-icon
{
  background-color: rgba(153, 51, 102, 0.5);
}

.school-cluster-icon
{
  position: absolute;
  left: -33px;
  padding: 7px 0 0 0;
  background-color: rgba(211, 242, 53, 0.65);
}

.school-point-icon
{
  background-color: rgba(211, 242, 53, 0.9);
}

.project-point-icon {
  box-shadow: none;
}

.cluster-icon.medium.unicef-cluster-icon {
  width: 36px;
  height: 36px;
  padding: 0px 0 0 0;
  background-color: rgba(255, 255, 255, 0.65);
  top: -35px;
  left: 20px;
  border-radius: 18px
}

.unicef-cluster-icon img {
  line-height: 8px;
  vertical-align: bottom;
}


.usaid-cluster-icon img {
  line-height: 8px;
  vertical-align: bottom;
}

.cluster-icon.medium.usaid-cluster-icon {
  width: 36px;
  height: 36px;
  padding: 0px 0 0 0;
  background-color: rgba(255, 255, 255, 0.65);
  top: -35px;
  left: -20px;
  border-radius: 18px;
}

.pin-images{
  width: 20px;
  left: -5px;
  top: -10px;
  position: absolute;
}

.partner-legend, .heatmap-legend, .places-legend {
  margin-top: 10px;
  background-color: white;
  min-width: 125px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -web-kit-border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0px;
  opacity: 0.9;
}

.legend-color{
	display: inline-block;
	width: 12px;  
	height: 12px;
	background-color: red;
	margin-right: 4px;
}

.partner-legend ul, .places-legend ul{
  list-style: none;
  padding: 4px 10px;
  margin-top: 5px;
}

.legend-header{
  padding: 2px 12px;
  background-color: rgba(0, 0, 0, 0.79);
  color: white;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -web-kit-border-radius: 2px 2px 0 0;
  font-weight: bold;
}

.heatmap-legend .legend-content{
  margin: 2px;
}

.legends{
  position: absolute;
  bottom: 23px;
  right: 15px;
}

.places-legend-icon{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  margin-right: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.65);
}

.school-legend{
  background-color: rgba(211, 242, 53, 1);
}

.health-center-legend{
  background-color: rgba(153, 51, 102, 1);
}

.water-point-legend{
  background-color: rgba(116, 223, 252, 1);
}

.site-visit-legend{
  background-color: rgba(0, 170, 100, 1);
  border-radius: 2px;
}