@charset "utf-8";

@import url(/static/css/print-fonts.css);

body {
    font-family: 'DroidSans';
    font-size: 11px;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    margin: 10px 0 26px 0;
    font-weight: normal;
    text-transform: capitalize;
    display: inline-block;
    /*float: left;*/
    white-space:nowrap;
}

h2 {
    font-size: 22px;
    margin: 13px 0px;
    padding-bottom: 6px;   
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
}

ul.projects {
    padding-left: 0px;
    list-style-type: none;
}

ul.siteVisits {
    padding-left: 4px;
    list-style-type: none;
}

#summary h2 {
    display: none;
}

.projects > li ul{
    list-style-type: none;

}

.projects > li > ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;   
    padding: 0;
}

.projects > li {
    background-color: #EEE;
    padding: 6px 6px;
    margin-bottom: 20px;
}

.projects label {
    width: 120px;
    display: inline-block;;
}

.projects span {
    font-weight: bold;
}

.project-locations {
    display: block;  
    vertical-align: top;
    padding: 10px;   
    background-color: #EEE;
}

.project-desription {
    page-break-inside: avoid;
}
.project-description ul {
    list-style-type: circle !important;
    padding: 0px;
}
.project-description li {
    font-weight: normal;
    text-transform: capitalize;
    
    padding: 0px;
    display: inline-block;
}

.project-description li:after
{ 
    content:"\00a0•\00a0";
}

.project-description li:last-child:after
{ 
    content:"";
}

.brand {
    font-family: 'arial';
    font-size: 18px;
    font-weight: 500;
    color: #EEE;
    -webkit-font-smoothing: antialiased;
    padding: 12px 12px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    background-color: #000;
    display: inline-block;
    float: right;
    margin: 10px 0 26px 0;
}
