@charset "utf-8";

@import url(/static/css/print-fonts.css);

body {
    font-family: 'DroidSans';
    font-size: 11px;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    margin: 10px 0 10px 0;
    font-weight: normal;
    text-transform: capitalize;
    
}

h2 {
    font-size: 22px;
    margin: 13px 0px;
    padding-bottom: 6px;   
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    color: black;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
}

#print-title {
    display: inline-block;
    white-space:nowrap;
    margin-bottom: 16px;
    text-transform: capitalize;
}

#location-parent {
    font-size: 20px;
}

ul.projects {
    padding-left: 0px;
    list-style-type: none;
}

ul.siteVisits {
    padding-left: 4px;
    list-style-type: none;
}

#summary h2 {
    display: none;
}

.projects > li ul{
    list-style-type: none;

}

.projects > li > ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;   
    padding: 0;
}

.projects > li {
    background-color: #EEE;
    padding: 6px 6px;
    margin-bottom: 20px;
}

.projects label {
    width: 120px;
    display: inline-block;;
}

.projects span {
    font-weight: bold;
}

.project-locations {
    display: block;  
    vertical-align: top;
    padding: 10px;   
    background-color: #EEE;
}

.project-desription {
    page-break-inside: avoid;
}
.project-description ul {
    list-style-type: circle !important;
    padding: 0px;
}
.project-description li {
    font-weight: normal;
    text-transform: capitalize;
    
    padding: 0px;
    display: inline-block;
}

.project-description li:after
{ 
    content:"\00a0•\00a0";
}

.project-description li:last-child:after
{ 
    content: "";
}

.brand {
    font-family: 'arial';
    font-size: 18px;
    font-weight: 500;
    color: #EEE;
    -webkit-font-smoothing: antialiased;
    padding: 12px 12px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    background-color: #000;
    display: inline-block;
    float: right;
    margin: 10px 0 26px 0;
}

#summary ul.indicator-summary li {
    /*border-bottom: 1px solid #DDD;*/
    display: block;
}

#summary ul {
    margin-bottom: 2px;
    margin-top: 2px; 
}

#summary {
    background-color: #EEE;
    padding: 10px;
    
}

#summary-section {
    page-break-before:always
}
#devtrac-map {
    width: 100%;
    height: 700px;
    border: 1px solid #BBB;
}

.partner-legend {
    clear: both;
    position: static;
    display: inline-block;
    border: 1px solid #BBB;
    margin-top: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; 
    border-radius: 0;

    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 ;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}

.partner-legend ul {
    margin-top: 6px;
}
.partner-legend h4 {
    font-weight: normal;
    margin-left: 12px;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 10px;
}
