h3 {

    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 8px;
}

#map-container {
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0px;
    z-index: 0;
    position: absolute;
}

#devtrac-map {
    width: 100%;
    height: 100%;   
}

.ureport-question-selected #ureport-panel {
    width: 100%;
    height: 25%;
    padding: 6px;
    border-top: 1px solid #AAA;
}

.ureport-summary {
    width: 60%;
    float: left;
}

.ureport-question {
    font-weight: normal;
}
.ureport-top5  {
    list-style-type: none;
    padding-left: 0;
    margin-top:6px;
}

.ureport-top5 li {
    float: left;
    font-size: 12px;
    background-color: #EEE;
    display: block;
    padding: 2px;
    border-radius: 3px;
    font-style: italic;
    margin-right: 10px;
    margin-bottom: 6px;
    
}   

.ureport-results {
    width: 40%;
    float:left;
    overflow: hidden;;
    list-style-type: none;
    padding-left: 0;
}
.ureport-results label {
    text-transform: capitalize; 
    font-size: 13px;   
    font-weight: 500;
}

.ureport-question-selected #devtrac-map {
    height: 75%;
}

#right-hand-panel {
    position: relative;
    float: right;
    width: 75%;
    border-left: 1px solid #AAA;
    height:100%;
}

#filter-panel {
    position: relative;
    top: none;
    left: none;
    float: right;
    width: 25%;
    left: 0px;
    top: 0px;
    border: none;
}

#filter-panel .filter-panel-content {
    border: none;
    height: auto;
    padding-bottom: 20px
}

#filter-panel .container {
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

#filter-panel .toggle-panel {
    display: none;
}

#summary-panel {
    position: relative;
    top: 0px;
    left: 0px;
}

#summary-panel .content{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border: none;
    min-height: 0px;
}

#location {
    position: relative;
    top: 0px;
    left: 0px;
    border: none;
}

#location .breadcrumb-panel{
    border: none;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

#location .breadcrumb li a.active {

    font-size: 16px;
}

#location .breadcrumb li a {

    font-size: 12px;
}
