
<!DOCTYPE html>
<html ng-app="dashboard"}>
  <head>
    <title>DevTrac Global</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets "css_all" %}
        <link rel="stylesheet" media="screen" href="{{ ASSET_URL }}"></script>
    {% endassets %}



  </head>
  <body>
    <div id='map-container'>

    <link ng-if="feature_toggles.is_on('left_side')" rel="stylesheet" media="screen" ng-href="/static/css/feature_toggles/left_side.css"></link>
    
    <!-- <div class="container"> -->
    
    <div map id='devtrac-map'></div>
    
    <div ng-show="!feature_toggles.is_on('left_side')" id='ngview' ng-view class="ng-cloak"></div>
    <!-- </div>   / -->

    <div panel panel-expand='{"left":"10px"}' panel-collapse='{"left":"-300px"}' class='filter-panel expanded dt-panel ng-cloak' id="filter-panel">

      <div ng-show="feature_toggles.is_on('left_side')" id='ngview' ng-view></div>

      <div class='content filter-panel-content' >

        <div  class='container'>
          <div class='heading'>Show points related to:</div>
          <div class='sector-content'>
            <ul class="nav nav-list">
              <li>
                <span class="school-checkbox-icon checkbox-icon"></span>
                <input type="checkbox" ng-model="filter.school" class='school-checkbox' id='school-checkbox'/>
                <label for="school-checkbox">Schools</label>
              </li>   
              <li>
                <span class="health-center-checkbox-icon checkbox-icon"></span>
                <input type="checkbox" ng-model="filter.health_center" class='health-center-checkbox' id="health-center-checkbox"/>
                <label for="health-center-checkbox">Health Centers</label>
              </li> 
              <li>
                <span class="water-point-checkbox-icon checkbox-icon"></span>
                <input type="checkbox" ng-model="filter.water_point" class='water-point-checkbox' id="water-point-checkbox"/>
                <label for="water-point-checkbox">Water Points</label>
              </li>
            </ul>

            <form ng-controller="IndicatorsCtrl" role="form" id="indicator-form">
              <div class="form-group">
                <label for="sector-select">Display heatmap associated with:</label>
                <select id="sector-select">
                  <option value="Youth">Youth</option>
                </select>
              </div>
              <div class="form-group">
                <label for="indicator-select">By indicator:</label>
                <select id="indicator-select" name="indicator-select" ng-model="indicator.selected" ng-options="indicator.name for indicator in indicators">
                  <option value="">None</option>
                </select>
              </div>
              <div ng-if="indicator.selected != null" class='legend'>
                <label for="indicator-select">Legend:</label>
                <img ng-src="{[{indicator.selected.wmsUrl + '?' + indicator.selected.legendUrl }]}" />
              </div>
            </form>
            <div ng-if="feature_toggles.is_on('ureport')">
              <div class='heading'>Ureport question:</div>
              <form ng-controller="UReportCtrl" role="form" >
                  <button type="button" ng-click='ureportQuestion.selected = question' ng-repeat="question in questions" class="btn btn-default btn-sm toggle">{[{question.abbreviation}]}</button>    
              </form>
            </div>
          </div> 
        </div>
      </div>     

       <a href="" class ='toggle-panel' ng-click="togglePanel()">
         <span class="glyphicon {[{ expanded ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right' }]} toggle-icon"></span>
       </a>  

       <div ng-if="feature_toggles.is_on('left_side')" class='summary-panel ng-cloak' id='summary-panel' >
       <div class='content' ng-controller="SummaryCtrl" >
       <div  ng-show="summary != null" class='container ng-hide' >
          <div class='heading'>{[{location.full_name() }]}</div>
          <div  class='summary-content' >
            <div ng-repeat="item in summary" class="info">
              <label>{[{item[0]}]}</label>
              <span>{[{item[1]}]}</span>
            </div>

            <div ng-repeat="item in indicatorSummary" class="info">
              <label>{[{item[0]}]}</label>
              <span>{[{item[1]}]}</span>
            </div>
          </div> 

          <div ng-if="feature_toggles.is_on('ureport')" ng-show="ureportTop5.length > 0" class='ng-hide ureport-summary ng-cloak'>
            <div class='heading'>uReport Responses</div>
            <div ng-repeat="item in ureportTop5" class="response">
              <span>{[{item.text }]}</span>
            </div>  
          </div>

        </div>
        </div>
        </div>
    </div>
    

     <div ng-if="!feature_toggles.is_on('left_side')" panel panel-expand='{"right":"10px"}' panel-collapse='{"right":"-300px"}' class='summary-panel ng-cloak' id="summary-panel">

      <div class='content' ng-controller="SummaryCtrl" >
        <div  ng-show="summary != null" class='container ng-hide' >
          <div class='heading'>{[{location.full_name() }]}</div>
          <div  class='summary-content' >
            <div ng-repeat="item in summary" class="info">
              <label>{[{item[0]}]}</label>
              <span>{[{item[1]}]}</span>
            </div>

            <div ng-repeat="item in indicatorSummary" class="info">
              <label>{[{item[0]}]}</label>
              <span>{[{item[1]}]}</span>
            </div>
          </div> 

          <div ng-show="ureportTop5.length > 0" class='ng-hide ureport-summary'>
            <div class='heading'>uReport Responses</div>
            <div ng-repeat="item in ureportTop5" class="response">
              <span>{[{item.text }]}</span>
            </div>  
          </div>

        </div>

      </div>     

      <a href="" class ='toggle-panel' ng-click="togglePanel()">
         <span class="glyphicon {[{ expanded ? 'glyphicon-chevron-right' : 'glyphicon-chevron-left' }]} toggle-icon"></span>
       </a>  
    </div>
    </div>

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if test %}
      <script type="text/javascript"> DT.testing = true;</script>
    {% endif %}
  </body>
</html>



