<!DOCTYPE html>
<html ng-app="dashboard">
  <head>
    <title>DevTrac Global</title>
     <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "css_all" %}
        <link rel="stylesheet" media="screen" href="{{ ASSET_URL }}"></link>
    {% endassets %}

   
    <!--[if lte IE 8]>
      <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
    <![endif]-->
    
  </head>
  <body>
    <div ng-view></div>
    <div id='map-container'>
      <div id='right-hand-panel' class='{[{ show_bottom_panel ? "ureport-question-selected" : ""}]}' ng-controller='RightPanelCtrl' >
        <div map id='devtrac-map'></div>
        <div ng-if="indicator.selected != null" class='heatmap-legend'>
            <img ng-src="{[{indicator.selected.wmsUrl + '?' + indicator.selected.legendUrl }]}" />
        </div>
      </div>

      <div ng-include="'/static/templates/ureport_summary.html'"></div>

      <div panel panel-expand='{"left":"10px"}' panel-collapse='{"left":"-300px"}' class='filter-panel expanded dt-panel ng-cloak' id="filter-panel">
        <div ng-include="'/static/templates/breadcrumb.html'" class='breadcrumb-section'></div>
      
        <div class='filters-container'>  
          <div ng-include="'/static/templates/filters.html'" class='filters-section'></div>
        </div>
      </div>

      <div class='detail-panel'>
        <div  class='container'>
          <div ng-include="'/static/templates/summary.html'" class='summary-section'></div>
        </div>
      </div>


    </div>



    

    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if test %}
      <script type="text/javascript"> DT.testing = true;</script>
    {% endif %}

      <script type="text/javascript" src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  </body>
</html>



