<!DOCTYPE html>
<html ng-app="dashboard" >
<head>
  <title>DevTrac Global</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/static/css/lib/mapbox.css"></link>
  <link rel="stylesheet" href="/static/css/lib/chosen.min.css"></link>
  <link rel="stylesheet" href="/static/css/application.css"></link>
  <link rel="stylesheet" href="/static/css/map.css"></link>

</head>
<body ng-controller="DashboardCtrl">
  <div ng-include="'/static/templates/nav_bar.html'"></div>
  <div ng-view></div>
  <div id='map-container'>
    <div id='right-hand-panel'>
      <div id='right-hand-container'>
        <div map id='devtrac-map'></div>
        <div ng-if="indicator.selected != null" class='heatmap-legend'>
          <img ng-src="{[{indicator.selected.wmsUrl + '?' + indicator.selected.legendUrl }]}" />
        </div>
        <div class="partner-legend"><ul></ul></div>
      </div>
    </div>

    <div panel panel-expand='{"bottom":"-58px"}' panel-collapse='{"bottom":"-96%"}' class='filter-panel expanded dt-panel ng-cloak' id="filter-panel">
    	<div class="close-panel" ><span class="glyphicon glyphicon-chevron-down"></span></div>
      <div ng-include="'/static/templates/breadcrumb.html'" class='breadcrumb-section'></div>
      
      <div class='filters-container'>  
        <div ng-include="'/static/templates/filters.html'" class='filters-section'></div>
      </div>
    </div>
    <div>
       <div site-visit-modal ng-show='siteVisit.selected != null '>
          <div ng-include="'/static/templates/site_visit_modal.html'"></div>   
        </div>

        <div ng-show='project.selected != null'>
          <div ng-include="'/static/templates/project_modal.html'"></div> 
        </div>
    </div>

    <div class='detail-panel'>
      <div class='container'>
        
        <div >
          <div ng-include="'/static/templates/area.html'"></div> 
        </div>
        
    </div>
  </div>

  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript" src="/static/javascript/lib/jquery.flot.min.js"></script>
  <script type="text/javascript" src="/static/javascript/lib/jquery.flot.pie.min.js"></script>

  {% if test %}
  <script type="text/javascript"> DT.testing = true;</script>
  {% endif %}
</body>
</html>



