{% extends "spikes/layout.html" %}
{% block title %}DevTrac2{% endblock %}
{% block content %}
  <h2>Spikes</h2>
	<ul>
		<li><a href="{{url_for('leaflet')}}">Geonode Leaflet</a></li>
		<li><a href="{{url_for('geonode_embedded')}}">Geonode Embedded</a></li>
		<li><a href="{{url_for('geonode_openlayers')}}">Geonode OpenLayers</a></li>
		<li><a href="{{url_for('markers_openlayers')}}">Markers OpenLayers</a></li>
		<li><a href="{{url_for('cluster_openlayers')}}">Clusters OpenLayers</a></li>
		<li><a href="{{url_for('cluster_leaflets')}}">Clusters Leaflets</a></li>
		<li><a href="{{url_for('mapbox')}}">Mapbox Integration</a></li>
		<li><a href="{{url_for('health')}}">CKAN</a></li>
	</ul>

{% endblock %}