<!DOCTYPE html>
<html ng-app="dashboard" ng-controller='DashboardCtrl'>
    <head>
        <title>{[{location.full_name()}]}</title>
        <link rel="stylesheet" href="/static/css/lib/mapbox.css"></link>
        <link rel="stylesheet" href="/static/css/lib/chosen.min.css"></link>
        <link rel="stylesheet" href="/static/css/application.css"></link>
        <link rel="stylesheet" href="/static/css/map.css"></link>
        <link rel="stylesheet" href="static/css/print.css" type="text/css"></link>        

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta name="author" content="UNICEF" />

        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}    

        <script type="text/javascript" src="/static/javascript/lib/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/static/javascript/lib/jquery.flot.pie.min.js"></script>    

        <script src="http://code.highcharts.com/highcharts.js"></script>

    </head>
    <body ng-controller='PrintCtrl'>
        <header>
            <div class='print-title'>
                <h1>{[{ location.full_name() }]}</h1>
                <div id='location-parent' ng-show="location.getParentsName() != ''">{[{location.getParentsName()}]}</div>
            </div>     

            <div class='brand'>
                DevTrac Global
            </div>
        </header>

        <div map id='devtrac-map'></div>
        <div ng-include="'/static/templates/legend.html'"></div>

        <section id='summary-section'>
            <h2>SUMMARY</h2>
            <div ng-include="'/static/templates/summary.html'" class='summary-section'></div>
        </section>    

        <section id='ureport-section'>
            <div>
                <h2 class='print-title'>Community Feedback</h2> 
                <div class='ureport-logo'></div>
            </div>
            
            <ul class='ureport-questions'>
                <li ng-repeat='question in ureportQuestions'>
                    <h3>{[{question.question}]}</h3>

                    <ul class='ureport-print-top5'>
                        <li ng-repeat='answer in question.top5'>
                            {[{answer.text}]}
                        </li>
                    </ul>
                    <div ng-if='question.results.results' highchart-piechart style="width: 700px; height: 250px; margin: 0 auto"></div>

                    <!-- <div class='ureport-print-pie' ng-include="'/static/templates/ureport_results_pie.html'"> -->
                </li>
            </ul>                        
        </section>    



        <section ng-show='projects.length > 0'>
            <h2>PROJECTS</h2>

            <ul class='projects'>
                <li ng-repeat='project in projects'>
                    <h3>{[{project.name}]}</h3>

                    <ul class='project-info'>
                        <li>
                            <label>Sector:</label>
                            <span >{[{project.sector}]}</span>      
                        </li>
                        <li>
                            <label>Accountable Agency:</label>
                            <span>{[{project.partner}]}</span>      
                        </li>
                        <li>
                            <label>Financial Organization:</label>
                            <span>{[{project.financialOrganization}]}</span>      
                        </li>
                        <li>
                            <label>Implementing Partner:</label>
                            <span>{[{project.implementingPartner}]}</span>      
                        </li>
                    </ul>
                    <ul>
                        
                        <li>
                            <label>Actual Duration:</label>
                            <span >{[{project.startActual}]} - {[{project.endActual}]}</span>      
                        </li>
                        <li>
                            <label>Planned Duration:</label>
                            <span >{[{project.startPlanned}]} - {[{project.endPlanned}]}</span>      
                        </li>
                        <li>
                            <label>Status:</label>
                            <span>{[{project.status}]}</span>      
                        </li>
                    </ul>

                    <div class='project-description'>
                        <p>
                            {[{project.description}]}
                        </p>
                        <h4>Locations</h4>
                        <ul>
                            <li ng-repeat="proj in project.locations | orderBy:['district','parish']" class='project-location'>{[{proj.district + "     District, " + proj.full_name()}]}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>

        <section ng-show='siteVisits.length > 0'>
            <h2>SITE VISITS</h2>

            <ul class='siteVisits'>
                <li ng-repeat='s in siteVisits'>
                    <h3>{[{s.title}]}</h3>
                    <ul>
                        <li>
                          <label>
                            Date Visited:
                          </label>
                          <span>
                            {[{ s.date}]}
                          </span>
                        </li>
                        <li>
                          <label>
                            Sectors:
                          </label>
                          <span>
                            {[{ s.subject}]}
                          </span>
                        </li>
                      </ul>
                </li>
            </ul>
        </section>

    </body>
</html>