<!DOCTYPE html>
<html ng-app="dashboard">
    <head>
        <title>Print version something</title>
        <link rel="stylesheet" href="static/css/print.css" type="text/css"></link>        
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta name="author" content="UNICEF" />

        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}        

    </head>
    <body ng-controller='PrintCtrl'>
        <div>Projects</div>
        Test print 5
        {{env}}
        <ul class='projects'>
            <li ng-repeat='p in projects'>{[{p.name}]}</li>
        </ul>

    </body>
</html>