<div>
<h2>About 

DevtracGlobal</h2> 

<p>DevtracGlobal is the real time reporting on Public Services in Uganda.

The single page web application aggregates data from various sources and present them in a meaningful way to the user.

The MAP based application is user responsive and really easy to use.</p>

<h5>Some of the data sources are:</h5> 

<ul>
	<li>Devtrac </li>
	<li>UReport</li>
	<li>Unicef etc.</li>
</ul>

The application also allows for filtering of data based on many parameters available from the sources.

</div>