<form role='form' id='filters-form'>
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a  data-target='#statistics' data-toggle="tab" href="#" >Statistics</a></li>
    <li><a data-target='#heatmap' data-toggle="tab" href="#">Heat map</a></li>
    <li><a data-target='#projects' data-toggle="tab" href="#">Projects/Partners</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="statistics">
      <h3>Show points related to:</h3>
      <ul class="points-filter filter">
        <li>
          <span class="school-checkbox-icon checkbox-icon"></span>
          <input type="checkbox" ng-model="filter.school" class='school-checkbox' id='school-checkbox'></input>
          <label for="school-checkbox">Schools</label>
        </li>   
        <li>
          <span class="health-center-checkbox-icon checkbox-icon"></span>
          <input type="checkbox" ng-model="filter.health_center" class='health-center-checkbox' id="health-center-checkbox"/>
          <label for="health-center-checkbox">Health Centers</label>
        </li> 
        <li>
          <span class="water-point-checkbox-icon checkbox-icon"></span>
          <input type="checkbox" ng-model="filter.water_point" class='water-point-checkbox' id="water-point-checkbox"/>
          <label for="water-point-checkbox">Water Points</label>
        </li>
      </ul> 
    </div>
    <div class="tab-pane" id="heatmap">
      <div class='filter'>
        <button type="button" ng-click='indicator.selected = null;' class="btn btn-default btn-sm toggle {[{indicator.selected == null ? 'toggle-selected' : '' }]}" >None</button>  
      </div>
      <h3>By dataset:</h3>
      <div ng-controller="IndicatorsCtrl" class='filter'>
        <div ng-repeat="ind in datasets">
          <button type="button"  ng-click="indicator.selected = ind" class="btn btn-default btn-sm toggle {[{indicator.selected == ind ? 'toggle-selected' : '' }]}">{[{ind.name}]}</button>
        </div>
      </div>

      <h3>Ureport question:</h3>

      <div ng-controller="IndicatorsCtrl"  class='filter'>
        <div ng-repeat="ind in ureport_datasets">
          <button type="button"  ng-click="indicator.selected = ind" class="btn btn-default btn-sm   toggle {[{indicator.selected == ind ? 'toggle-selected' : '' }]}">{[{ind.name}]}</button>
        </div>
      </div>
    </div>
    <div ng-controller="PartnersCtrl" class="tab-pane" id="projects">

      <h3>Our partners:</h3>
      <ul class="points-filter filter">
        <li ng-repeat="p in partners" class='partner-toggle'>
          <span class="partner-info">
            <span class='icon'>
              <label for='{[{p.id}]}-checkbox'>
                <img ng-src="/static/images/{[{p.id}]}.png" />
              </label>
            </span>
            <input type="checkbox" ng-model='filter.project.partner[p.id]' id='{[{p.id}]}-checkbox' name='{[{p.id}]}-checkbox' ></input>

            <label for='{[{p.id}]}-checkbox'>{[{ p.name}]}</label>
          </span>
          <img ng-show="{[{p.color != undefined}]}" ng-src="static/images/long_pins/pin_{[{p.color}]}.png" class="pin-images"/>
          
        </li> 
      </ul> 
      <h3>Sector:</h3>
      <div class='filter' id='project-sector'>
        <select style="width:350px;" data-placeholder="Choose sectors" chosen class='chosen-select' multiple="" data-filterCollection='sectors' >
          <option ng-repeat="sector in sectors" value="{[{sector}]}">{[{sector}]}</option>
        </select>
      </div>

      <h3>Status:</h3>
      <div class='filter' id='project-status'>
        <select chosen ng-model='filter.project.status' data-placeholder="Choose statuses" data-filterCollection='statuses' multiple >
          <option ng-repeat="status in statuses" value="{[{status}]}">{[{status}]}</option>
        </select>
      </div>

      <h3>Implementing Partner:</h3>
      <div class='filter' id='project-implementing-partner'>
        <select chosen data-placeholder="Choose Partner" data-filterCollection='implementingPartners' multiple class='chosen-select' >
          <option ng-repeat="implementingPartner in implementingPartners" value="{[{implementingPartner}]}">{[{implementingPartner}]}</option>
        </select>
      </div>

      <h3>Year</h3>
      <div class='filter' id='project-year'>
        <select chosen data-placeholder="Choose Year" data-filterCollection='years' multiple class='chosen-select' >
          <option ng-repeat="year in years" value="{[{year}]}">{[{year}]}</option>
        </select>
      </div>

    </div>
  </div>
</form>