





<form role='form' id='filters-form'>
  <div class="sectors-pane">
    <h3>Display datasets associated with:</h3>
    <button type="button" class="btn btn-default btn-sm toggle toggle-selected">Youth</button>
  </div>
  
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-target='#statistics' data-toggle="tab" >Statistics</a></li>
    <li><a data-target='#heatmap' data-toggle="tab" href="#">Heat map</a></li>
    <li><a data-target='#projects' data-toggle="tab" href="#">Projects/Partners</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="statistics">
      <h3>Show points related to:</h3>
      <ul class="points-filter">
        <li>
          <span class="school-checkbox-icon checkbox-icon"></span>
          <input type="checkbox" ng-model="filter.school" class='school-checkbox' id='school-checkbox'></input>
          <label for="school-checkbox">Schools</label>
        </li>   
        <li>
          <span class="health-center-checkbox-icon checkbox-icon"></span>
          <input type="checkbox" ng-model="filter.health_center" class='health-center-checkbox' id="health-center-checkbox"/>
          <label for="health-center-checkbox">Health Centers</label>
        </li> 
        <li>
          <span class="water-point-checkbox-icon checkbox-icon"></span>
          <input type="checkbox" ng-model="filter.water_point" class='water-point-checkbox' id="water-point-checkbox"/>
          <label for="water-point-checkbox">Water Points</label>
        </li>
      </ul> 
    </div>
    <div class="tab-pane" id="heatmap">
      <button type="button" ng-click='indicator.selected = null;' class="btn btn-default btn-sm toggle {[{indicator.selected == null ? 'toggle-selected' : '' }]}" >None</button>  
      <h3>By dataset:</h3>

      <div ng-controller="IndicatorsCtrl">
        
        <button type="button" ng-repeat="ind in datasets" ng-click="indicator.selected = ind" class="btn btn-default btn-sm toggle {[{indicator.selected == ind ? 'toggle-selected' : '' }]}">{[{ind.name}]}</button>
      </div>

      <h3>Ureport question:</h3>

      <div ng-controller="IndicatorsCtrl">
        
        <button type="button" ng-repeat="ind in ureport_datasets" ng-click="indicator.selected = ind" class="btn btn-default btn-sm toggle {[{indicator.selected == ind ? 'toggle-selected' : '' }]}">{[{ind.name}]}</button>
      </div>
    </div>
    <div ng-controller="PartnersCtrl" class="tab-pane" id="projects">
      
      <h3>Our partners:</h3>
      <ul class="points-filter">
        <li ng-repeat="p in partners">
          <img src="/static/images/{[{ p.icon}]}" />
          <input type="checkbox" ng-model='partner[p.name]' class='school-checkbox' id='school-checkbox'></input>
          <label for="school-checkbox">{[{ p.name}]}</label>
        </li> 
      </ul> 
    </div>
  </div>
</form>