<div site-visit-modal >
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="float: center;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{[{project.selected.name}]}</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/static/templates/project.html'"></div>
      </div>
    </div>
  </div>
</div>
</div>