<div ng-controller="ProjectsCtrl" class='well tinted-background' id='project-list'>
  <div class="well-header">
    <h3>Projects </h3>
  </div>

  
  <div class="project" ng-repeat="p in project.pagedList">
      <h4>
          <a href="#" ng-click="project.selected = p">{[{ p.name }]}</a>
      </h4>
      <div class='project-dates'>
        <label>Planned Dates:</label>
        <span>{[{ p.startActual }]} - {[{ p.endActual }]}</span>
      </div>
      <ul>
        <li>
          <label>Funding</label>
          <span>{[{p.partner}]}</span>
        </li>

        <li>
          <label>Accountable</label>
          <span>{[{p.financialOrganization}]}</span>
        </li>

        <li>
          <label>Implementing</label>
          <span>{[{p.implementingPartner}]}</span>
        </li>
      </ul>
  </div>
  <div pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="5"></div>
  <div ng-show='project.selected != null'>
    <a class='back-to-area-link' ng-click=''>Back to {[{location.full_name();}]}</a>
  </div>
<div>
