    <div id="project-details" style="clear:both">
        <ul>
            <li>
                <span class="detail-key">Accountable Agency:</span>
                <span class="detail-value">{[{project.selected.partner}]}</span>      
            </li>
            <li>
                <span class="detail-key">Financial Organization:</span>
                <span class="detail-value">{[{project.selected.financialOrganization}]}</span>      
            </li>
            <li>
                <span class="detail-key">Implementing Partner:</span>
                <span class="detail-value">{[{project.selected.implementingPartner}]}</span>      
            </li>
            <li>
                <span class="detail-key">Sector:</span>
                <span class="detail-value">{[{project.selected.sector}]}</span>      
            </li>
            <li>
                <span class="detail-key">Actual Duration:</span>
                <span class="detail-value">{[{project.selected.startActual}]} - {[{project.selected.endActual}]}</span>      
            </li>
            <li>
                <span class="detail-key">Planned Duration:</span>
                <span class="detail-value">{[{project.selected.startPlanned}]} - {[{project.selected.endPlanned}]}</span>      
            </li>
            <li>
                <span class="detail-key">Status:</span>
                <span class="detail-value">{[{project.selected.status}]}</span>      
            </li>
            <li>
                <span class="detail-key">Description:</span>
                <span class="detail-value">{[{project.selected.description}]}</span>      
            </li>
            <li>
                <span class="detail-key">Locations:</span>
                <ul class="detail-value">
                    <li ng-repeat="proj in project.selected.locations | orderBy:['district','parish']" class='project-location'>{[{proj.district + " District, " + proj.full_name()}]}</li>
                </ul>      
            </li>
        </ul>
    </div> 

    <a class='back-to-area-link' ng-click='project.selected=null' href=''>Back to {[{location.full_name();}]}</a>