<div id='location'>
<!--   <h2 class="title">{[{ location_name }]}</h2> -->
  <div >  
    <ul class="breadcrumb">  
      <li>
        <a ng-if="location.district != null" class="national-crumb" href='/'>Uganda</a>
        <span ng-if="location.district == null" >Uganda</span>
      </li>  
      <li ng-if="location.district != null">
        <a ng-if="location.subcounty != null" class="district-crumb" href='/district/{[{ location.district }]}'>{[{ location.district }]}</a>
        <span ng-if="location.subcounty == null" >{[{ location.district }]} District</span>
      </li>  
      
      <li ng-if="location.subcounty != null">
        <a ng-if="location.parish != null" class="subcounty-crumb" href='/district/{[{ location.district }]}/{[{ location.subcounty }]}'>{[{ location.subcounty }]}</a>
        <span ng-if="location.parish == null" >{[{ location.subcounty }]} Subcounty</span>
      </li>

      <li ng-if="location.parish != null">
        <span>{[{ location.parish }]} Parish</span>
      </li>           
    </ul>  
  </div> 
</div>
