<div id='location'>
<!--   <h2 class="title">{[{ location_name }]}</h2> -->
  <div >  
    <ul class="breadcrumb">  
      <li class="active"><a class="national-crumb" href='/'>Uganda</a></li>  


      <li ng-if="location.district != null"><a class="district-crumb" href='/district/{[{ location.district }]}'>{[{ location.district }]}{[{ location.subcounty == null ? " District" : ""}]}</a></li>  
      
      <li ng-if="location.subcounty != null"><a class="subcounty-crumb" href='/district/{[{ location.district }]}/{[{ location.subcounty }]}'>{[{ location.subcounty }]}{[{ location.parish == null ? " Subcounty" : ""}]}</a></li>

      <li ng-if="location.parish != null"><a class="parish-crumb" 
      	href='/district/{{ location.district }]}/{[{ location.subcounty }]}/
      	{[{ location.parish }]}'>{[{ location.parish }]} Parish</a>
      </li>           
    </ul>  
  </div> 
</div>
