<div id='location'>
<!--   <h2 class="title">{[{ location_name }]}</h2> -->
  <div >  
    <ul class="breadcrumb">  
      <li class="active"><a class="national-crumb" href='/'>Uganda</a></li>  


      <li ng-show="location.district != null"><a class="district-crumb" href='/district/{[{ location.district }]}'>{[{ location.district }]}</a></li>  
      <li ng-show="location.subcounty != null"><a class="subcounty-crumb" href='/district/{[{ location.district }]}/{[{ location.subcounty }]}'>{[{ location.subcounty }]}</a></li>          
    </ul>  
  </div> 
</div>
