<div ng-controller="SiteVisitCtrl" class='well tinted-background '>
  <div class="well-header">
  <h3>Site Visits </h3>
  </div>
  <table class="table table-condensed table-striped" id='site-visit-list'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date Visited</th>
        <th>Organisation</th>
        <th>Sector</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="visit in pagedList" >
        <td><a href="#" ng-click="visit.selected = p">{[{ visit.title}]}</td>
        <td>{[{ visit.date}]}</td>
        <td>{[{ visit.organisation}]}</td>
        <td>{[{ visit.subject}]}</td>
        <td><a target="_blank" href="{[{ visit.sitevisit_url}]}">devtrac</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="5">
          <div pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="5"></div>
        </th>
      </tr>
    </tfoot>
  </table>

  <div ng-show='project.selected != null'>
    <a class='back-to-area-link' ng-click=''>Back to {[{location.full_name();}]}</a>
  </div>
<div>
