<div site-visit-modal >
<div class="modal fade" id="siteVisitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: fixed;">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 630px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{[{siteVisit.selected.title}]}</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/static/templates/site_visit.html'"></div>
      </div>
    </div>
  </div>
</div>
</div>
