<div class="well tinted-background">
	<div class="well-header">
		<h3>{[{siteVisit.title}]}</h3>                 	 
	</div>
	<div id="site-visit-details" style="clear:both">
		<ul>
			<li>
				<label>Author: </label>
				<span>{[{siteVisit.author}]}</span>
			</li>
			<li>
				<label>Date visited: </label>
				<span>{[{siteVisit.date}]}</span>
			</li>
			<li>
				<label >Subject: </label>
				<span>{[{siteVisit.subject}]}</span>
			</li>
			<li>
				<label>Organisation: </label>
				<span>{[{siteVisit.organisation}]}</span>
			</li>
			<li>
				<label>Place Type: </label>
				<span>{[{siteVisit.placetype}]}</span>
			</li>
			<li>
				<label>Summary: </label>
				<span>{[{siteVisit.summary}]}</span>
			</li>
			<li>
				<label>Location: </label>
				<span>{[{siteVisit.location}]}</span>
			</li>
			<li>
				<label>Link: </label>
				<span><a target="_blank" href="{[{siteVisit.sitevisit_url}]}">devtrac</a></span>
			</li>
			<li>
				<label>Image Large: </label>
				<span><img src="{[{siteVisit.image_large}]}"/></span>
			</li>
			<li>
				<label>Image Small: </label>
				<span><img src="{[{siteVisit.image_small}]}"/></span>
			</li>
		</ul> 
	</div>
</div>
