<div ng-controller="SiteVisitCtrl" class='well tinted-background' id='site-visit-list'>
  <div class="well-header">
    <h3>Site Visits</h3>
  </div>
  <ul>
    <li ng-repeat="visit in siteVisit.pagedList" class='site-visit'>
      
      <div>
        <h4>
          <a href="#" ng-click="siteVisit.selected = visit">{[{ visit.title}]}</a>
        </h4>
      </div>
      <ul>
        <li>
          <label>
            Date Visited:
          </label>
          <span>
            {[{ visit.date}]}
          </span>
        </li>
        <li>
          <label>
            Sectors:
          </label>
          <span>
            {[{ visit.subject}]}
          </span>
        </li>
      </ul>
    </li>
  </ul>
  <div pagination total-items="totalItems" page="currentPage" max-size="5" items-per-page="5"></div>
  <div class='pagination-summary'>
    Showing {[{ startCount }]} - {[{ endCount }]} of {[{totalItems}]}
  </div>
</div>