
<h2>U-Report</h2>

<div ng-controller="UReportCtrl" class="ureport-questions">  
  <button type="button" ng-click='ureportQuestion.selected = null;' class="btn btn-default btn-sm toggle {[{ureportQuestion.selected == null ? 'toggle-selected' : '' }]}" >None</button>    
  <button type="button" data-question='{[{question.abbreviation}]}' ng-click='ureportQuestion.selected = question;' ng-repeat="question in questions" class="btn btn-default btn-sm toggle {[{ureportQuestion.selected == question ? 'toggle-selected' : '' }]}" >{[{question.abbreviation}]}</button>    
</div>

<div ng-controller="UReportResponsesCtrl"  id='ureport-panel' ng-show="ureportQuestion.selected" >
  <div id="poll-results">

    <ul ng-show="ureportTop5.length > 0" class='ureport-top5'>
      <span class="ureport-question" >{[{ureportQuestion.selected.question}]}</span>
      <li ng-repeat="item in ureportTop5" class="response">"{[{item.text }]}"</li>  
    </ul>

    <div piechart class='ureport-results' ng-show='show_pie'>
      <div class="flot-piechart" style="width:100px;height:100px"></div>
      <ul class="legend">
        <li ng-repeat="legend in data | orderBy:'-data'">
          <span class='legend-color' style='background-color:{[{legend.color}]}'></span>
          <label>{[{legend.label}]} -</label>
          <span>{[{legend.data}]}%</span>
        </li>
      </ul>

    </div>
  </div>
</div>
