<div ng-controller="UReportResponsesCtrl" id='ureport-panel' class='ng-cloak'>
  <h3>UReport Poll Results</h3>
    <span class="ureport-question" >{[{ureportQuestion.selected.question}]}</span>
      
    <ul ng-show="ureportTop5.length > 0" class='ureport-top5'>
      <li ng-repeat="item in ureportTop5" class="response">"{[{item.text }]}"</li>  
    </ul>

    <ul class='ureport-results'>
    <li ng-repeat="item in ureportResults.results">
      <label>{[{item.category}]}:</label>
      <span>{[{item.percent}]}</span>
    </li>
  </ul>
</div>