<div ng-controller="UReportResponsesCtrl" id='ureport-panel' class='ng-cloak'>
  <h3>UReport Poll Results</h3>

    <div ng-show="ureportTop5.length > 0" class='ng-hide ureport-summary ng-cloak'>
      <span class="ureport-question" >{[{ureportQuestion.selected.question}]}</span>
      <ul class='ureport-top5'>
        <li ng-repeat="item in ureportTop5" class="response">"{[{item.text }]}"</li>  
      </ul>
    </div>

    <ul class='ureport-results'>
    <li ng-repeat="item in ureportResults.results">
      <label>{[{item.category}]}:</label>
      <span>{[{item.percent}]}</span>
    </li>
  </ul>
</div>